  .card {
    width: 40%;
    padding: 40px;
    background-color: #f1f1f1;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.5);
    text-align: center;

  }
  .card h1{
    font-size: 20px;
  }
  .card p{
    font-size: 20px;
  }
  .card img{
    width: 100%;
  }
  .btn{
    padding: 10px;
    background-color: #f1f1f1;
    text-align: center;
    border-radius: 20px;

	  
    color: white;
    font-size: 20px;
    border:none;
    
    background-color:red;
    margin-top:10px;
	cursor:pointer;
  }
  